body{
    background-color: #049bd7!important;
}

.header-branding-logo{
    max-width: 139px; 
}

.bg-body-tertiary{
    background-color: #049bd7!important;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

#principal{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner{
    height: 377px;
}

.carousel-item{
    max-height: 377px;
}

#tour{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .06em;
    line-height: 1.8em;    
    color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tour-item{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.tour-item:hover{
    background: rgba(0, 0, 0, 0.05);
    -webkit-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.supporter{
    color: #1d1d1dc2;
}

.btn1{
    color: #000;
    border: 2px solid rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    display: block;
    font-size: 12px;
    margin: 4px 0 4px 9px;
    overflow: hidden;
    padding: 6px 3px;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    min-width: 120px;
}

.btn1:hover{
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 1);
    border-radius: 3px;
    display: block;
    font-size: 12px;
    margin: 4px 0 4px 9px;
    overflow: hidden;
    padding: 6px 3px;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    min-width: 120px;    
    -webkit-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.sold-out{
    background: red !important;
    color: white !important;
    border: none !important;
    font-weight: bold !important;
}

.sold-out:hover{
    text-decoration: line-through;
    border: none !important;
    background: none !important;
    color: red !important;
}

.icon{
    width: 50px;
}

.icon a{
    color: #000;
}

.sign{
    width: 259px;
    padding: 0!important;
}

.sign p {
    width: 259px;
    margin: 0!important;
}


